{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src=" {{post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div >
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatewords:20  }}</p>
            <div name="{{post.id}}"></div>
            {% if user in post.likes.all %}
                <h6><i><a class="article-content" href="{% url 'post-detail' post.id %}"><span>Read more</span></a></i><span style="float : right;"><a href="{% url 'post-likes' post.id %}#{{post.id}}" style=color:#33358f><i class="fa-solid fa-heart"></i></a> {{post.number_of_likes}} Likes</span> </h6>
            {% else %}
                <h6><i><a class="article-content" href="{% url 'post-detail' post.id %}"><span>Read more</span></a></i><span style="float : right;"><a href="{% url 'post-likes' post.id %}#{{post.id}}" style=color:#66666e><i class="fa fa-heart-o "></i></a> {{post.number_of_likes}} Likes</span> </h6>
            {% endif %}
            </script>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class='btn btn-outline-info mb-4' color="#33358f" href="?page=1">first</a>
            <a class='btn btn-outline-info mb-4' href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class='btn btn-info mb-4' href="?page={{num}}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class='btn btn-outline-info mb-4' href="?page={{num}}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class='btn btn-outline-info mb-4' href="?page={{page_obj.next_page_number}}">next</a>
            <a class='btn btn-outline-info mb-4' href="?page={{page_obj.paginator.num_pages}}">last</a>
        {% endif %}
    {% endif %}
{% endblock content %}











