{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src=" {{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' object.author.id %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-edit' object.id%}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        {% if user in post.likes.all %}
          <h6 ><span style="float : right;"><a href="{% url 'post-likes' post.id %}" style=color:#33358f><i class="fa-solid fa-heart"></i></a> {{post.number_of_likes}} Likes</span> </h6>
        {% else %}
          <h6><span style="float : right;"><a href="{% url 'post-likes' post.id %}" style=color:#66666e><i class="fa fa-heart-o "></i></a> {{post.number_of_likes}} Likes</span> </h6>
        {% endif %}
      </div>
    </article>
<h5>Comments</h5>
{% if not post.comments.all %}
  No comments yet.
{% else%}
  {% for comment in post.comments.all %}
    <strong>{{ comment.name }}- {{ comment.date_posted }} </strong>
    <br/>
    {{ comment.content }}
    <br/>
  {% endfor %}
{% endif %}
<br/><br/>
{% endblock content %}