{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src=" {{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
          {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-edit' post.id%}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        {% if user in post.likes.all %}
          <h6><span style="float : right;"><a href="{% url 'post-likes' post.id %}" style=color:#33358f><i class="fa-solid fa-heart"></i></a> {{post.number_of_likes}}</span> </h6>
        {% else %}
          <h6><span style="float : right;"><a href="{% url 'post-likes' post.id %}" style=color:#66666e><i class="fa fa-heart-o "></i></a> {{post.number_of_likes}}</span> </h6>
        {% endif %}
        <h6>{{post.comments.count}} Comment{{post.comments.count|pluralize}}</h6>
      </div>
    </article>
<h5>Comments</h5>
<article class="media content-section">
  <div class="media-body">

     <form method="POST" id="comment_form">
         {% csrf_token %}
        <span style="float : right;"><button class="btn btn-outline-secondary" type="'submit"><i class="fa fa-paper-plane-o"></i></button></span>
         {{comment_form.as_p}}

     </form>
     {% if not post.comments.all %}
        No comments yet...
     {% else%}
        {% for comment in post.comments.all %}
          <strong>{{ comment.name }} </strong> - <small class="text-muted">{{ comment.date_posted }}</small>
          <br/>
          {{ comment.content }}
            {% if user in comment.likes.all %}
              <h6 ><span style="float : left;">{{comment.number_of_likes}} Likes <a href="{% url 'comment-likes' comment.id %}"  style=color:#33358f><i class="fa-solid fa-heart"></i></a></span>  </h6>
            {% else %}
              <h6><span style="float : left;"> {{comment.number_of_likes}} Likes <a href="{% url 'comment-likes' comment.id %}" style=color:#66666e><i class="fa fa-heart-o "></i></a></span> </h6>
            {% endif %}
          <br/>
        {% endfor %}
     {% endif %}
    <br/>
  </div>
</article>

<br/><br/>
{% endblock content %}